.rPContainer {
  background: #ffffff;
  border: 0.5px solid lightgrey;
  box-sizing: border-box;
  border-radius: 2px;
}

.rpTextFieldContainer {
  padding: 30px 34px 76px 44px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.rPTextField {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 22px;
}

.rpLabel {
  font-family: Cairo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;

  color: #2b2d35;
}

.Myline {
  border-top: 0.3px solid lightgrey;
  padding: 0px 21px 19px 21px;
  margin: 0px 21px 0px 21px;
}

.resetButtonStyle {
  background-color: #93c020;
  color: #fff;
  box-shadow: none;
  border: #fff;
  width: 154px;
  height: 40px;
  border-radius: 3px;

  font-family: Cairo;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}

.buttoncontainer {
  display: flex;
  padding: 0px 0px 21px 21px;
}
