.sidebar {
    height: 100%;
    width: 157px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #F0F0F0;
    overflow-x: hidden;
    padding-top: 16px;
  }

  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    text-align:"center";
    direction:"rtl"
  }
  
  .sidebar a:hover {
    color: #2B2D35;
    cursor: pointer;
    text-decoration: none;
  }