body {
    background-color: #FFF;
}
.ant-table-thead > tr > th{
    font-weight: 600;
    font-size: 16px;
    background: #93C020 !important;
    color: #FFFFFF !important;
    text-align: center  !important;
}
.ant-modal-footer {
    border-top:0 !important;
}
.ant-table-thead {
    background-color: #FFF;
}
.ant-table-tbody > tr {
    text-align: center !important;
}
td.ant-table-column-sort {
    background-color: transparent !important;
}
.ant-space a {
    margin: 5px;
}
.table-row-light {
    background-color: #ffffff;
}
.table-row-dark {
    background-color: #fbfbfb;
}